body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


h1 {
    color: #4a90e2;
    text-align: center;
    margin-bottom: 20px;
}

.add-todo-input,
.edit-todo-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s ease;
}

.add-todo-input:focus,
.edit-todo-input:focus {
    border: 1px solid #4a90e2 !important;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5) !important;
}

.view-opt-label,
.date-label {
    font-size: 12px;
    color: #888;
}
.custom-date-input {
    border: 2px solid #007bff;
    border-radius: 4px;
    
}

.custom-date-input::placeholder {
    color: #007bff;
}

.edit-todo-input {
    font-size: 18px !important;
}

.todo-list {
    list-style: none;
    padding: 0;
}

.todo-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-item:hover {
    background-color: #f9f9f9;
}

.todo-item:last-child {
    border-bottom: none;
}

.todo-text {
    flex-grow: 1;
    padding: 0 10px;
}

.todo-actions {
    visibility: visible !important;
}

.todo-item:hover .todo-actions {
    visibility: visible !important;
}

.todo-actions button {
    background: none;
    border: none;
    color: #888;
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
    transition: color 0.3s ease;
}

.todo-actions button:hover {
    color: #4a90e2;
}

.todo-item.editing .todo-actions .edit-icon {
    display: none !important;
}

.add-btn {
    display: inline-block;
    background-color: #4a90e2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-btn:hover {
    background-color: #357ab7;
}

#toggle-icon {
    color: white;
    background-color: rgb(4, 139, 243);
    border-radius: 100%;
    align-items:center ;
    justify-content: center;
    cursor: pointer;    
}

#toggle-icon.active {
    color: rgb(4, 139, 243);
    background-color: white;
}
.add-todo-input, .edit-todo-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 0px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s ease;
}
.border-success {
    border: 2px solid green;
}

.border-warning {
    border: 2px solid yellow;
}

.border-danger {
    border: 2px solid red;
}

